html {
    background-color: rgb(255, 196, 232);
}

body {
    margin: 0;
}
.site-header {
    background-color: rgb(46, 60, 125);
    padding: 30px;
    color:rgb(255, 168, 214);
}

.page-name {
    margin: 0;
}