html {
    background-color: rgb(253, 175, 222);
}

body {
    margin: 0;
}
.site-header {
    background-color: rgb(121, 46, 125);
    padding: 30px;
    color:rgb(255, 168, 214);
    margin-bottom: 20px;
}

.page-name {
    margin: 0;
}

.nav-links {
    color:rgb(16, 131, 188)
}

.main-content {
    background-color: rgb(251, 148, 216);
padding: 30px;
margin-bottom: 20px;
}

.site-footer {
    background-color: rgb(229, 131, 230);
padding: 30px;
}